.textarea_setup
{
	height:50px;
	width:400px;
	padding-left:3px;
}

.error-form
{
    font-size: 15px;
    font-family: serif;
    color: #ff0033;
}

.form-text
{
    height: 20px;
    font-size: 20px;
    color: #ff0033;
    padding: 5px;
    outline: 0;
}

#username_error_message{
    color: red;
}

#password_error_message{
    color: red;
}

#retypepassword_error_message{
    color: red;
}

#email_result
{
    color: red;
}

#firstname_error_message
{
    color:red;
}

#lastname_error_message
{
    color:red;
}

#birthday_error_message
{
    color: red;
}